.tooltip-container {
    position: absolute;
    transition: .30s;
    padding: 50px;

}
.tooltip-text {
    background: #ffffff;
    width: 300px;
    height: 460px;
    text-align: center;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    box-shadow: 0 30px 90px -20px rgb(0 0 0 / 30%), 0 0 1px 1px rgb(0 0 0 / 5%);
    overflow: hidden;
    font-size: 16px;
}
.tooltip-img {
    width: 300px;
    height: auto;
}



