.tooltip-container {
    position: absolute;
}
.tooltip-text {
    background: #ffffff;
    width: 300px;
    height: 460px;
    text-align: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 8px;
    display: block;
    text-decoration: none;
    box-shadow: 0 30px 90px -20px rgb(0 0 0 / 30%), 0 0 1px 1px rgb(0 0 0 / 5%);
    overflow: hidden;
    font-size: 16px;
}
.tooltip-img {
    width: 300px;
    object-fit: cover;
    height: 150px;
}



